.container {
  max-width: initial !important;
  max-width: auto !important;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f4f1f0;
  height: 100%;

  .c-layout {
    position: relative;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;

    @media (min-width: 769px) {
        width: 760px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1400px) {
        width: 1170px;
    }

    .c-sidebar {
      position: absolute;
      margin-left: 2px;
      left: 0;
      top: 20px;
      width: 20% !important;
      max-width: 220px;
      max-height: 650px;
      background-color: #fff;
    }
    .c-sidebar-right {
      position: absolute;
      right: 0;
      top: 40px;
      display: none;
      margin-left: 2px;
      max-height: 650px;

      @media (min-width: 769px) {
          display: block;
          width: 240px;
      }
      @media (min-width: 992px) {
          width: 260px;
      }
      @media (min-width: 1400px) {
          width: 280px;
      }
    }

    .c-content {
      width: 100%;
      min-height: 470px;
      padding-top: 20px;
      @media (min-width: 769px) {
          padding-right: 240px;
      }
      @media (min-width: 992px) {
          padding-right: 260px;
      }
      @media (min-width: 1400px) {
          padding-right: 280px;
      }
    }
  }
}


.blog-container {
  position: relative;
  background-color: transparent;
}

.archive-container {
  width: 60%;
  margin: 0 auto;
  padding-right: 0;

  .selection-wrap {
    .btn-wrap {
      .title {
        color: #007acc;
        font-size: 18px;
      }

      .btn-group {
        padding: 30px 50px;
        border: 1px solid #00d8ff;

        .btn {
          width: 120px;
          padding: 10px 20px;
          margin-right: 10px;
          margin-bottom: 10px;
          display: inline-block;
          text-align: center;
          border: 1px solid #ddd;
          cursor: pointer;

          &.default {
            color: #000;
            cursor: pointer;
          }

          &.disabled {
            color: #ddd;
            cursor: not-allowed;
          }

          &.active {
            color: #00d8ff;
            cursor: pointer;
          }
        }
      }
    }
  }

  .list-wrap {
    margin-top: 50px;
    a {
      display: block;
      box-shadow: none;

      &:hover {
        color: #00d8ff;
      }
    }

    .show {
      display: block;
    }

    .hide {
      display: none;
    }
  }
}

.pagination-wrapper {
  text-align: center;
  background-color: transparent;

  .ant-pagination-item,
  .ant-pagination-next,
  .ant-pagination-prev {
    &:hover {
      border-color: #06ad9e;

      a {
        color: #06ad9e;
      }
    }
  }

  .ant-pagination-item-active {
    background-color: #06ad9e;
    border-color: #06ad9e;
  }
}



.ant-affix {
  .nav-anchor {
    top: 0px;
  }
}

.ant-affix {

}


.c-back-top {
  @media (max-width:768px) {
    right: 25px;
    bottom: 40px;
  }
}
