@font-face {
  font-family: 'iconfont';  /* project id 303012 */
  src: url('//at.alicdn.com/t/font_bkmdv1ugac2nvcxr.eot');
  src: url('//at.alicdn.com/t/font_bkmdv1ugac2nvcxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_bkmdv1ugac2nvcxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_bkmdv1ugac2nvcxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_bkmdv1ugac2nvcxr.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibo:before { content: "\e600"; }

.icon-weibo1:before { content: "\e601"; }

.icon-rss:before { content: "\e6ba"; }

.icon-rss1:before { content: "\e612"; }

.icon-iconfontweibowukuang:before { content: "\e661"; }

.icon-github:before { content: "\e6ed"; }

.icon-rss2:before { content: "\e6d9"; }

.icon-github1:before { content: "\e741"; }

.icon-iconfontfisocialgithub:before { content: "\e6c5"; }

.icon-zhihu:before { content: "\e634"; }

.icon-github2:before { content: "\e63f"; }

.icon-sekuairss:before { content: "\e6b3"; }

.icon-zhihu1:before { content: "\e60c"; }

